    <div class="credits text-center">
        <p>
            <a href="www.empower-ed.in">EmpowerED Website</a>
        </p>
        <p>
            <a href="#">Smeet Jani</a>
        </p>
    </div>
</body>
</html>